<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Beast Mode</title>
   <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body id="beastmode">
   
   <h1 align="left" id="beastmodeid"> Tony by Loudpvck </h1>
  
 </body>
</html>