<<<<<<< HEAD
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Beast Mode</title>
   <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body id="beastmode">
   <h1 align="left" id="beastmodeid"> Mara by Carnage </h1>
   <audio autoplay>
     <source src="../music/Carnage.mp3" type="audio/mpeg">
   </audio>
 </body>
</html>
=======

>>>>>>> e4471f76a92ce36472cb761d5850fb48365e7f1d
