<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Chill</title>
  <link rel="stylesheet" href="../css/style.css" type="text/css">
 </head>
 <body id="chill">
   <audio autoplay>
     <source src="../music/Chill.mp3" type="audio/mpeg">
   </audio>
   <h1 align="left" id="chillid">ID(Ultra Music Festival Anthem 2015) by Kygo</h1>
 </body>
</html>