<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Confused</title>
  <link rel="stylesheet" href="../css/style.css" type="text/css">
 </head>
 <body id="confused">
   <audio autoplay>
     <source src="../music/Aftergold.mp3" type="audio/mpeg">
   </audio>
   <h1 align="left" id="confusedid">Aftergold by Big Wild</h1>
  
 </body>
</html>