<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Vibe</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   <h1 id="title" align="center">Vibe</h1>
 </head>
 <body id="index">
   <center>
     <form action="/choice" method="POST">
        <select name="feeling">
         <option value="" disabled selected>How are you feeling?</option>
         <option value="Trippy">Trippy</option>
         <option value="Beastmode">Beastmode</option>
         <option value="Mellow">Mellow</option>
         <option value="Focusing">Focusing</option>
         <option value="Confused">Confused</option>
         <option value="Relaxed">Relaxed</option>
         <option value="Serene">Serene</option>
         
       </select>
       <div>
       <button type="submit">Go</button>
       </div>
     </form>
   </center>
  
 </body>
</html>