<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Mellow</title>
  <link rel="stylesheet" href="../css/style.css" type="text/css">
 </head>
 <body id="mellow">
   <audio autoplay>
     <source src="../music/Cherry.mp3" type="audio/mpeg">
   </audio>
   <h1 align="left" id="mellowid">Cherry by Ratatat</h1>
  
 </body>
</html>