<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Relaxed</title>
  <link rel="stylesheet" href="../css/style.css" type="text/css">
 </head>
 <body id="relaxed">
   <audio autoplay>
     <source src="../music/relaxed.mp3" type="audio/mpeg">
   </audio>
   <h1 align="left" id="relaxedid">Can't Afford It All(Kygo Remix) by Jakubi</h1>
  
 </body>
</html>