<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Serene</title>
  <link rel="stylesheet" href="../css/style.css" type="text/css">
 </head>
 <body id="serene">
   <audio autoplay>
     <source src="../music/serene.mp3" type="audio/mpeg">
   </audio>
   <h1 align="left" id="sereneid"> Godot by The Fragrance of Dark Coffee</h1>
  
 </body>
</html>