@import url(http://fonts.googleapis.com/css?family=Lobster);

#index{
  background-image: url("../images/background.jpg");
  background-size: cover;
}
#title{
  font-family: 'Lobster', cursive;
  font-size: 500%;
  color: white;
  text-shadow: 4px 4px black;
}

#mellowid{
      font-size: 150%;
      font-family: 'Lobster', cursive;
      text-shadow: 2px 2px white;
}

#mellow{
    background-image: url("../images/mellow/Changing-Light-Over-Garrapata-Beach.jpg");
    background-size: cover;
}

#beastmode{
    background-image: url("../images/beastmode/one.gif");
    background-size: cover;
}

#beastmodeid{
  font-size: 150%;
  font-family: 'Lobster', cursive;
  text-shadow: 4px 4px black;
  color: white;
}